/*!

    Theme Name: BSPK

    Theme URI: https://weable.vn

    Author: weable.vn

    Author URI: https://weable.vn

    Description: Website duoc thiet ke boi weable.vn

    Version: 1.0.0

    License: GNU General Public License v2 or later

    License URI: LICENSE

    Text Domain: sticky

*/





/*

|--------------------------------------------------------------------------

| Theme CSS

|--------------------------------------------------------------------------

|

| About author: https://weable.vn/

|

*/

:root {
    --color-white: #fff;
    --box-shadow: 10px 10px 30px rgba(51, 51, 51, 0.05);
}

html {
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--white-color);
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

a {
    text-decoration: none;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

ul, ol {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.img-wrap {
    position: relative;
    height: auto;
    overflow: hidden;
    background-position: 50% 50%;
    background-size: cover;
    padding-top: 56.25%;
}

.img-wrap img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    transform: translateZ(0);
    margin: 0 auto;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    object-position: 50% 50%;
    object-fit: cover;
}


button,
.btn,
input[type="submit"] {
    background: var(--color-red);
    border: 0;
    outline: none;
    border-radius: 6px;
    min-width: 100px;
    height: 26px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    font-family: var(--body-font);
    font-weight: 400;
    font-size: 0.9em;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

button:hover,
.btn:hover,
input[type="submit"]:hover {
    opacity: 0.8;
}
